<section>
    <header><h1 id="contentMain">Start managing your tasks!</h1></header>
    <main>
        <p class="task-count">You have {{ createTasks.getToDoCount() }} <span ng-show="createTasks.getToDoCount() == 1">task</span>
            <span ng-show="createTasks.getToDoCount() != 1">tasks</span> to do.</p>
        <form class="find-task">
            <label for="findTask">To find a task start typing task name
            <input ng-model="query" type="text"
                   placeholder="e.g. read an article" name="findTask" id="findTask">
            </label>
        </form>
        <div class="sort-wrapper">
            <button class="sort-button" ng-click="sortBy('date')">Sort by date</button>
            <span class="sort-order" ng-show="propertyName === 'date'" ng-class="{reverse: reverse}"></span>
        </div>
        <ul id="filters" class="filter-buttons">
            <li>
                <button ng-click="setFilterParameter('')">All</button>
            </li>
            <li>
                <button ng-click="setFilterParameter(true)">Completed</button>
            </li>
        </ul>
        <div ng-include=" 'task-list/list.html' "></div>
        <span class="error-message" ng-hide="taskCreate.taskName.$touched && taskCreate.taskName.$valid">The task name is required. It should be at least 7 symbols long</span>
        <form name="taskCreate" ng-submit="addTask()">
            <label for="taskName">Please enter your next task
                <input class="task-name" type="text" id="taskName" name="taskName" ng-model="taskToDo" ng-minlength="7" required autofocus>
            </label>
            <label for="submitTask">
                <input class="task-submit" type="submit" id="submitTask" value="Add" ng-disabled="taskCreate.taskName.$error.required || taskCreate.taskName.$error.minlength">
            </label>
        </form>
    </main>
</section>