{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "ie >= 10"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "transform-async-to-generator",
    "transform-runtime",
    "transform-regenerator",
    "syntax-async-functions"
    //"./plugins/console-log-plugin.js"
  ]
}