* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  line-height: 1.5;
  background: #ffffff;
}

p {
  color: #000000;
}

.resources,
.resource-output {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.main {
  position: relative;
}

.news-resource,
.article {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  background: #efefef;
  border-radius: 5px;
}

.news-resource,
.news-resource h2 {
  margin-bottom: 20px;
}

.news-resource h2 a {
  color: #003366;
}

.news-resource h2 a:hover,
.news-resource h2 a:focus {
  text-decoration: none;
  color: #000044;
}

.news-resource h2 img,
.article h3 img {
  vertical-align: middle;
  margin-right: 50px;
}

.news-resource h2 img {
  width: 20%;
}

.article h3 img {
  width: 50%;
}

button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.3em;
  background: #6699CC;
  color: #003366;
  font-size: 1em;
  font-weight: 900;
}

button:hover,
button:focus {
  background: #003366;
  color: #6699CC;
}

.hidden {
  visibility: hidden;
  height: 0;
}