<section>
    <header><h1>Start managing your tasks!</h1></header>
    <main>
        <p>You have {{ getToDoCount() }} tasks to do.</p>
        <form class="find-task">
            <input ng-model="query" type="text"
                   placeholder="Filter by">
        </form>
        <div class="sort-wrapper">
            <button ng-click="sortBy('date')">Date</button>
            <span class="sort-order" ng-show="propertyName === 'date'" ng-class="{reverse: reverse}"></span>
        </div>
        <ul class="tasks-wrapper" ng-repeat="task in tasks | filter: query | orderBy: propertyName: reverse">
            <li>
                <label for="taskCompleted">
                    <input type="checkbox" id="taskCompleted" ng-model="checked">
                </label>
                {{ task.name }}
                <span class="task-date">created: {{ task.date | date: 'medium'}}</span>
                <span ng-if="checked" class="task-completed">Completed</span>
                <label for="removeTask">
                <input type="button" id="removeTask" value="Remove" ng-click="removeTask($index)">
                </label>
            </li>
        </ul>
        <span class="error-message" ng-show="taskCreate.taskName.$touched && taskCreate.taskName.$invalid">The task name is required. It should be at least 20 symbols long</span>
        <form name="taskCreate">
            <label for="taskName">Please enter your next task
                <input type="text" id="taskName" name="taskName" ng-model="taskToDo" ng-minlength="20" required autofocus>
            </label>
            <label for="submitTask">
                <input type="button" id="submitTask" value="Add" ng-click="addTask()">
            </label>
        </form>
    </main>
</section>