extends layout

block body
    a(href="#contentMain" class="skip-link") Skip to main content
    div(class="view-container")
        section(ui-view="home" class="view-frame")

    script(src="app.module.js")
    script(src="app.config.js")
    script(src="article-list/article-list.module.js")
    script(src="article-list/article-list.component.js")