doctype html
html(lang="en" ng-app="manageArticleApp" ng-controller="articleListController")
    head
        meta(charset="utf8")
        meta(name="viewport" content="width=device-width")
        base(href="/")
        title= title
        link(rel="stylesheet", href="main.css")
        script(src="vendor/angular.min.js")
        script(src="vendor/angular-resource.min.js")
        script(src="vendor/angular-ui-router.min.js")
    body
        block body