extends layout

block content
    h1= title
    main
        p= message
        form(method='post' action='/login')
            div.form-group
                label(for='email') Username:
                input#email.form-control(type='email', placeholder='first and last' name='email')
            div.form-group
                label(for='pw') Password:
                input#pw.form-control(type='password' name='password')
            button.btn.btn-primary(type='submit') Log In