.news-resource {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 47%;
  padding: 1em;
  background: #efefef;
  border-radius: 5px;
}

.resources {
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}

.news-resource,
.news-resource h2 {
  margin-bottom: 20px;
}

.news-resource h2 img {
  vertical-align: middle;
  margin-right: 50px;
  width: 20%;
}

/* Media Queries */
@media screen and (max-width: 640px) {
  .resources,
  .news-resource,
  .news-resource h2 img {
    width: 100%;
  }

  .news-resource {
    padding: 0.5em;
  }

  .news-resource,
  .news-resource h2 {
    margin-bottom: 10px;
  }

  .news-resource h2 img {
    margin-right: 0;
  }
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .resources {
    width: 100%;
  }

  .news-resource {
    width: 47%;
  }

  .news-resource h2 img {
    float: left;
  }
}