* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  line-height: 1.5;
  background: #ffffff;
  height: 100vh;
}

section {
  height: 100%;
}

.skip-link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  margin-right: 20px;
  overflow: hidden;
}

.skip-link:focus {
  position: static;
  width: auto;
  height: auto;
}

p {
  color: #000000;
}

h1 + p {
  text-align: center;
  margin: 10px 0 20px;
  font-weight: 900;
}

main p {
  margin-bottom: 10px;
}

main,
nav,
ul,
footer,
footer a,
footer p,
.news-resource,
.article {
  display: -ms-flexbox;
  display: flex;
}

main,
.news-resource,
.article {
  -ms-flex-direction: column;
  flex-direction: column;
}

nav,
footer,
.resources,
.resource-output {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.resources,
.resource-output {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-self: center;
  width: 80%;
}

header,
footer {
  height: 60px;
  padding: 0 20px;
}

nav ul,
footer a,
footer p {
  -ms-flex-align: center;
  align-items: center;
}

header,
footer,
h1,
a,
button {
  color: #003366;
}

header,
footer,
button {
  background: #6699CC;
}

nav {
  height: inherit;
}

nav ul {
  list-style: none;
}

nav ul a {
  padding: 0.5em;
  border: 1px solid currentColor;
}

nav ul a:hover,
nav ul a:focus {
  text-decoration: underline;
}

main {
  position: relative;
  padding: 20px 50px;
}

h1 {
  text-align: center;
  font-size: 1.5em;
}

.news-resource,
.article {
  width: 47%;
  padding: 1em;
  background: #efefef;
  border-radius: 5px;
}

.news-resource,
.news-resource h2,
.article {
  margin-bottom: 20px;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #000044;
}

.news-resource h2 img,
.article h3 img {
  vertical-align: middle;
  margin-right: 50px;
}

.news-resource h2 img {
  width: 20%;
}

.article h3 img {
  width: 50%;
  float: left;
  margin-bottom: 10px;
}

button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 1em;
  font-size: 1em;
  font-weight: 900;
  border-radius: 30px;
}

button:hover,
button:focus {
  background: #003366;
  color: #6699CC;
}

.hidden {
  display: none;
}

/* Media Queries */
@media screen and (max-width: 640px) {
  main {
    padding: 10px;
  }

  .resources,
  .resource-output,
  .news-resource,
  .article,
  .news-resource h2 img,
  .article h3 img {
    width: 100%;
  }

  .news-resource,
  .article {
    padding: 0.5em;
  }

  .news-resource,
  .news-resource h2,
  .article {
    margin-bottom: 10px;
  }

  .news-resource h2 img,
  .article h3 img {
    margin-right: 0;
  }

  button {
    position: relative;
    top: auto;
    right: auto;
    display: block;
    width: 60%;
    margin: 10px auto 25px;
  }
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .resources,
  .resource-output {
    width: 100%;
  }

  .news-resource,
  .article {
    width: 47%;
  }

  .news-resource h2 img,
  .article h3 img {
    float: left;
  }

  .article h3 img {
    width: 100%;
    margin-right: 0;
  }
}